<!DOCTYPE html>
<html>

<head>
	<title>My ToDo App</title>
</head>

<body>
	<header>
		<h1>ToDo App</h1>
		<h4>Because my memory sucks</h4>
	</header>

	<%= yield %>

	<footer>
		<h6>Copyright @ KaeGee Inc.</h6>
	</footer>
</body>

</html>